<!DOCTYPE html>
<html lang="ko"xmlns:th="http://www.thymleaf.org">
<head>
    <title>gradeTestSentence</title>
    <link href="/css/gradeTest.css" th:href="@{/css/gradeTest.css}" rel="stylesheet">
    <script src="/js/gradeTest.js" th:src="@{/js/gradeTest.js}"></script>
    <script src="https://kit.fontawesome.com/c50c4da782.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
<form action="" id="" method="post" onsubmit="return false">
    <div class="wrapper">

        <!-- 문제지 -->
        <div class="wrapper_left">

            <div class="left_header">
                <div class="input_title" th:text="${ReportDto.vocatitle} 채점결과"> 23/01/27 채점결과</div>
            </div>

            <div class="left_body" id="left_body">
                <div class="word_text_box">
                    <span>temporal&nbsp;&nbsp;:&nbsp;&nbsp;</span>
                    <span>일시적인</span>
                </div>
                <div class="word_text_box">
                    <span>temporal&nbsp;&nbsp;:&nbsp;&nbsp;</span>
                    <span>일시적인</span>
                </div>
            </div>
        </div>

        <!-- 채점결과 -->
        <div class="wrapper_right" id="wrapper_right" >
            <div class="right_header">
                <div class="header_logo">
                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </div>
                <div class="header_text">
                    <div class="title">채점결과 보기</div>
                    <div class="subtitle">채점 결과를 확인해보세요!</div>
                </div>
            </div>
            <div class="dividedLine"></div>

            <div class="right_body">
                <div id="test_name" class="info_title" th:text="${ReportDto.vocaTitle}">23/01/23</div>
                <div id="test_socre" class="info_title">
                    <span >시험 점수  :</span>
                    <span id="correct_num">8</span> / <span>10</span>
                </div>
                <div class="info_title">
                    <span>틀린 단어  :</span>
                    <div id="wrong_word"> temporal, word, gogo, wlejr</div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>