<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <title>makeTest</title>
    <link href="/css/makeTest.css" th:href="@{/css/makeTest.css}" rel="stylesheet">
    <script src="/js/makeTest.js" th:src="@{/js/makeTest.js}"></script>
    <script src="https://kit.fontawesome.com/c50c4da782.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<form action="/" id="form" th:object="${InputInfoDto}" method="post" onsubmit="return false">
    <div class="wrapper">

        <!-- 단어 입력 창 -->
        <div class="wrapper_left">
            <div class="left_header">
                <div class="input_title">단어</div>
                <div class="input_title">의미</div>
            </div>

            <div class="left_body" id="left_body">
                <div class="input_word">
                    <input class="text_box" type="text" id=word1 name="word" field="*{word[0]}" placeholder="1">
                    <input class="text_box" type="text" id=meaning1 name="meaning" field="*{meaning[0]}" placeholder="1">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word2 name="word" field="*{word[1]}" placeholder="2">
                    <input class="text_box" type="text" id=meaning2 name="meaning" field="*{meaning[1]}" placeholder="2">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word3 name="word" field="*{word[2]}" placeholder="3">
                    <input class="text_box" type="text" id=meaning3 name="meaning" field="*{meaning[2]}" placeholder="3">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word4 name="word" field="*{word[3]}" placeholder="4">
                    <input class="text_box" type="text" id=meaning4 name="meaning" field="*{meaning[3]}" placeholder="4">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word5 name="word" field="*{word[4]}" placeholder="5">
                    <input class="text_box" type="text" id=meaning5 name="meaning" field="*{meaning[4]}" placeholder="5">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word6 name="word" field="*{word[5]}" placeholder="6">
                    <input class="text_box" type="text" id=meaning6 name="meaning" field="*{meaning[5]}" placeholder="6">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word7 name="word" field="*{word[6]}" placeholder="7">
                    <input class="text_box" type="text" id=meaning7 name="meaning" field="*{meaning[6]}" placeholder="7">
                </div>
                <div class="input_word">
                    <input class="text_box" type="text" id=word8 name="word" field="*{word[7]}" placeholder="8">
                    <input class="text_box" type="text" id=meaning8 name="meaning" field="*{meaning[7]}" placeholder="8">
                </div>
            </div>

            <div class="left_footer">
                <button class="button" id="add_but" onclick="add_input_word()">
                    <i class="fa-sharp fa-solid fa-plus"></i>
                    <span class="add_but_text" id="add_but_text">Add</span>
                </button>
            </div>

        </div>
        <!-- 시험지 유형 선택 창 -->
        <div class="wrapper_right" id="wrapper_right" >
            <div class="right_header">
                <div class="header_logo">
                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                </div>
                <div class="header_text">
                    <div class="title">시험지 만들기</div>
                    <div class="subtitle">나만의 시험지를 만들어 보세요!</div>
                </div>
            </div>
            <div class="dividedLine"></div>
            <div class="right_body">
                <div class="test_name">
                    <span class="select_title" >단어장 이름</span>
                    <input class="vocaTitle" id="vocaTitle" type="text" name="vocaTitle" field="*{vocaTitle}">
                </div>
                <div class="test_num">
                    <span class="select_title" >단어 당 문제 개수</span>
                    <select class="select_box" name="numOfQuestions" field="*{numOfQuestions}">
                        <option th:value="1" select="selected">1개</option>
                    </select>
                </div>
                <div class="test_type">
                    <span class="select_title">문제지 유형</span>
                    <select class="select_box" name="examType" field="*{examType}">
                        <option th:value="MEANING" select="selected">의미</option>
                        <option th:value="WORD">영어</option>
                        <option th:value="EXAMPLE_SENTENCE">문장</option>
                    </select>
                </div>
            </div>

            <div class="right_footer">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="button" id="submit_but" onclick="check_validation()">
                    <i class="fa-sharp fa-solid fa-check"></i>
                    <span class="submit_but_text">Submit</span>
                </button>
                <!--(임시) 버튼 클릭 시 레포트로 이동-->
                <button th:onclick="|location.href='@{/mypage}'|">내레포트</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>