<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <title>signin</title>
    <link href="/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <script src="/js/signin.js" th:src="@{/js/signin.js}"></script>
    <script src="https://kit.fontawesome.com/c50c4da782.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
<div class="wrapper">
    <form action="/auth/new" id="form" method="post" th:object="${memberFormDto}">

        <div class="signin_box">
            <div class="profile_logo">
                <i class="fa-solid fa-user fa-2x"></i>
            </div>
            <div class="login_title">Welcome!</div>

            <input class="input_box" id="name" type="text" th:field="*{name}" placeholder="이름"
                   onkeypress="changeFocus1()">
            <i class="fa-solid fa-user basicStyle" id="icon_name"></i>
            <div class="error" id="error_name"></div>

            <input class="input_box" id="email" type="email" th:field="*{email}" placeholder="이메일"
                   onkeypress="changeFocus2()">

            <div class="error" id="error_email"></div>

            <input class="input_box" id="password" type="password" th:field="*{password}" placeholder="비밀번호"
                   onkeypress="changeFocus3()">
            <i class="fa-solid fa-eye-slash basicStyle" id="icon_pw1" onclick="viewPw1()"></i>
            <div class="error" id="error_pw1"></div>

            <input class="input_box" id="password_check" type="password" placeholder="비밀번호 확인">
            <i class="fa-solid fa-eye-slash basicStyle" id="icon_pw2" onclick="viewPw2()"></i>
            <div class="error" id="error_pw2"></div>

            <button type="submit" class="signin_but" id="signin_but">가입하기</button>
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">
        </div>

    </form>
</div>

</body>
</html>