*{
    box-sizing: border-box;
    margin: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;

    position: fixed;
    top: 0px;

    background-color: white;
}
.logo{
    width: 164px;
    height: 50px;
}
.login{
    width: 150px;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    background: #329494;
    border-radius: 999px;
    border: solid 0px;

    cursor: pointer;
}
.dividedLine{
    position: fixed;
    top: 80px;
    left: 0px;

    width: 100%;
    border: 2px solid #8CBDB9;
}