*{
    box-sizing: border-box;
    margin: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 100%;
    height: 692px;
    top: 25px;    
}
.wrapper_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

    width: 100%;
    height: 80px;

    position: sticky;
    top: 0px;

    background-color: white;
}
.logo{
    width: 164px;
    height: 50px;
}
.navigation{
    width: 630px;
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    padding-top: 25px;
}
.navigation_item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    cursor: pointer;
}
#menuMaketest{
    color: #2D3E4E;
}
#menuTotalreport{
    color: #8CBDB9;
}
#menuMyreport{
    color: #8CBDB9;
}
.dividedDot{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 18px;

    color: #E09E50;
}
.login{
    width: 150px;
    height: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    background: #329494;
    border-radius: 999px;
    border: solid 0px;
    
    cursor: pointer;
}
.dividedLine{
    position: absolute;
    top: 70px;
    left: 0px;

    width: 100%;
    border: 2px solid #8CBDB9;
}
.wrapper_body{
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}