<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <title>header</title>
    <link href="/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <div class="fragment_header">
        <img class="logo"  id="menuMain" src="/img/logo1.png" th:src="@{/img/logo1.png}" th:onclick="|location.href='@{/}'|">
        <button class="login" id="menuLogin" th:onclick="|location.href='@{/mypage}'|">myTest</button>
    </div>
    <div class="fragment_dividedLine"></div>
</div>
</body>
